
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');


:root {
  --main-color: snow;
  --secondary-color: cadetblue;

  --main-font: "Noto Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  background-color: var(--main-color);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga" on;
}

header {
  display: flex;
  width: 100vw;
  height: 13vh;
  background-color: var(--secondary-color);
  justify-content: flex-start;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  padding-bottom: 40px;
  text-align: center;
  background-color: var(--main-color);
}

h1 {
  color: var(--main-color);
  margin: 20px 0 20px 20px;
  font-family: var(--main-font);
}

h2 {
  color: var(--secondary-color);
  margin: auto;
  padding: 30px;
}

.form__control {
  margin: auto;
  background-color: var(--main-color);
  color: var(--secondary-color);
  border: 0px solid;
  border-bottom: 2px solid var(--secondary-color);
  height: 3rem;

  box-sizing: border-box;
  padding: 20px;
  width: 300px;
  margin-bottom: 20px;
  font-size: 18px;
  outline: none;
}

.btn__save {
  width: 100px;
  height: 50px;
  margin-top: 30px;
  background-color: transparent;
  border: 3px solid var(--secondary-color);
  border-radius: 2px;
  color: var(--secondary-color);
  cursor: pointer;

  font-family: var(--main-font);
  font-size: 1rem;

  transition: 300ms all;

}

.btn__save:hover {
  background: var(--secondary-color);
  color: var(--main-color);
}

.btn__save:focus {
  outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--secondary-color);
  font-family: var(--main-font);

}
::-moz-placeholder { /* Firefox 19+ */
  color: var(--secondary-color);
  font-family: var(--main-font);

}
:-ms-input-placeholder { /* IE 10+ */
  color: var(--secondary-color);
  font-family: var(--main-font);

}
:-moz-placeholder { /* Firefox 18- */
  color: var(--secondary-color);
  font-family: var(--main-font);

}

.bookmark__list ul li{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 40vw;
  height: auto;
  font-size: 18px;
  padding: 15px 0 15px 15px;
  box-sizing: border-box;

}

ul {
  display: flex;
  flex-direction: column-reverse;
}

@media (max-width: 700px) {
  .bookmark__list ul li {
    width: 80vw;
  }

  li {
    width: 80vw;
  }
}

li {
  position: relative;
  display: flex;
  width: 40vw;
  list-style: none;
  border: 2px solid var(--secondary-color);
  margin: auto;
  margin-bottom: 30px;
  opacity: 0;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: 5s all;

}

a:hover {
  text-decoration: underline;
}

.delete {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  cursor: pointer;
  font-size: 2rem;
  color: var(--main-color);
  background-color: var(--secondary-color);
  transition: 0.5s all;
}

.delete:hover {
  color: firebrick;

}

.link__active-fade {
	opacity: 1;
  animation: fadeInOpacity 0.5s ease-in;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
    transform: translateY(60%);
	}
	100% {
		opacity: 1;
    transform: translateY(0%);
	}
}
